$primaryColor: #ff4c29;
$secondaryColor: #082032;
$tertiaryColor: #2c394b;
$secondaryLightColor: #008eff;
$textPrimaryColor: #2c2c2c;
$textSecondaryColor: #72777e;
$textLightPrimaryColor: #cccccc;
$setTransition: all 0.4s;
